{% extends "./layouts/base.njk" %}

{% block content %}

<main class="post container-small flow">
  <div class="post__meta">
  <h1 class="post__title">{{ title }}</h1>
  {% if date %}<time class="post__date"
    datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>{% endif %}
  <p class="post__words">{{ content | wordcount | readtime }}</p>
</div>
  <article class="post__content flow">

    {{ content | safe }}

   
  </article> 
{% include "partials/components/pagination.njk" %}
</main>

{% endblock %}