{% extends "./layouts/base.njk" %}

{% block content %}
<article class="post">
  <header class="intro">
    <div class="container">
      {% if date %}
      <time class="post__date" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      {% endif %}
      <h1 class="post__title">{{ title }}</h1>
      <span class="post__words">{{ content | wordcount | readtime }}</span>
    </div>
  </header>
  <div class="post__content container flow">
    {{ content | safe }}
  </div>
  {% include "partials/components/pagination.njk" %}
</article>
{% endblock %}