:root {
  //Colors
  --color-main: 255, 113, 113;
  --color-secondary: 255, 240, 174;
  --color-tertiary: 246, 246, 246;
  --color-title: 61, 61, 61;
  --color-text: 61, 61, 61;
  --color-background: 255, 255, 255;

  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --content-width-large: 62.25rem;
  --content-width: 50rem;

}

.dark-mode {

  --color-text: 255, 240, 174;
  --color-background: 24, 24, 26;
  --color-title: 255, 113, 113;



  // --color-background: 15, 14, 23; 
  // --color-heading: 255, 255, 254;
  // --color-text: 167, 169, 190;
  // --color-link: 255, 137, 6;
  // --color-button: 255, 142, 60;
  // --color-button-text: 255, 255, 254;
  // --color-secondary: 242, 95, 76;
  // --color-main: 229, 49, 112;

  // --color-white: 255, 255, 255;
  // --color-black: 0, 0 , 0;  
}

body {
  font-family: var(--font-family-alt);
  background-color: rgba(var(--color-background));
}

a {
  color: rgba(var(--color-link));

  &:hover{
    text-decoration: none;
  }
}

:focus {
  outline: 2px dotted rgba(var(--color-main));
  outline-offset: 0.25rem;
}

time {
  display: block;
  color: rgba(var(--color-main));
  font-size: var(--font-size-small);
}

.container-large {
  max-width: var(--content-width-large);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.bleed {
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.row {
  display: flex;
  flex-direction: row;
}

.flow {
  --flow-space: 3em;
}

.flow>*+* {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: 3rem;
}