@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --font-family-alt: 'Inter', sans-serif;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  //FONT SCALE
  // minor third = 1.200 
  // major third = 1.250 
  // perfect fourth = 1.333 
  --font-scale: 1.250;
  --font-size-8: calc(var(--font-scale) * var(--font-size-7)); //5.321
  --font-size-7: calc(var(--font-scale) * var(--font-size-6)); //4.257
  --font-size-6: calc(var(--font-scale) * var(--font-size-5)); //3.406
  --font-size-5: calc(var(--font-scale) * var(--font-size-4)); //2.725
  --font-size-4: calc(var(--font-scale) * var(--font-size-3)); //2.18
  --font-size-3: calc(var(--font-scale) * var(--font-size-2)); //1.75
  --font-size-2: calc(var(--font-scale) * var(--font-size-1)); //1.4
  --font-size-1: 1.125em;

  --font-size-small: 0.875rem;
  --font-size-smallest: 0.5rem;
}

@include breakpoint('medium') {
  :root {
    --font-size-1: 1.333em;

    --font-size-small: 1rem;
    --font-size-smallest: 0.6rem;
  }
}

h1,
h2,
h3,
h4 {
  color: rgba(var(--color-title));
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  line-height: 1.15;
}

h1 {
  font-size: var(--font-size-5);
  --flow-space: 3rem;

  a {
    text-decoration: none;
  }
}

h2 {
  font-size: var(--font-size-4);
  --flow-space: 2.125rem;
}

h3 {
  font-size: var(--font-size-3);
  --flow-space: 2rem;
}

h4 {
  font-size: var(--font-size-2);
  --flow-space: 1rem;
}

p,
span {
  font-size: var(--font-size-1);
  font-family: var(--font-family-alt);
  color: rgba(var(--color-text));
  line-height: 1.6;
  --flow-space: 1.55rem;
}

blockquote,
blockquote+* {
  --flow-space: 2rem;
  font-size: var(--font-size-4);
  background-color: green;
}