@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  --font-family: 'Frank Ruhl Libre', serif;
  --font-family-alt: 'Source Sans Pro', sans-serif;
  --font-weight: 400;
  --font-weigh-semi-bold: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  // minor third = 1.200 
  // major third = 1.250 
  // perfect fourth = 1.333 

  --font-scale: 1.250;
  --font-size-1: calc(var(--font-scale) * var(--font-size-2));
  --font-size-2: calc(var(--font-scale) * var(--font-size-3));
  --font-size-3: calc(var(--font-scale) * var(--font-size-4));
  --font-size-4: calc(var(--font-scale) * var(--font-size-5));
  --font-size-5: calc(var(--font-scale) * var(--font-size-6));
  --font-size-6: calc(var(--font-scale) * var(--font-size-7));
  --font-size-7: calc(var(--font-scale) * var(--font-size-8));
  --font-size-8: 1.125em;

  --font-size-small: 0.875rem;
}

@include breakpoint('medium') {
  :root{
    --font-size-8: 1.333em;
  }
} 

h1,
h2,
h3,
h4 {
  color: rgba(var(--color-heading));
  font-family: var(--font-family);
  font-weight: var(--font-weight-black);
  line-height: 1.15;
}

h1 {
  font-size: var(--font-size-4);
  --flow-space: 3rem;

  a {
    text-decoration: none;
  }
}

h2 {
  font-size: var(--font-size-5);
  --flow-space: 2.125rem;
}

h3 {
  font-size: var(--font-size-6);
  --flow-space: 2rem;
}

h4 {
  font-size: var(--font-size-7);
  --flow-space: 1rem;
}

p {
  font-size: var(--font-size-8);
  font-family: var(--font-family-alt);
  color: rgba(var(--color-text));
  --flow-space: 1rem;
}

blockquote,
blockquote + * {
    --flow-space: 2rem;
    font-size: var(--font-size-4);
    background-color: green;
}
