<section class="intro">
    <div class="container flow">
        <h2 class="intro__heading">
            {{ intro.title }}
            </h2>
        <p class="intro__text">
          {{ intro.text }}  
        </p>
        {% if button.text %}
        <a href="{{ button.url }}" class="btn--outline"> {{ button.text }} </a>
        {% endif %}
    </div>
</section>