<footer class="footer">
  <div class="container-large">
    <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <nav class="nav-footer">
      <ul class="nav-footer__list">
        <li class="nav-footer__item"><a href="/" class="nav-footer__link">Home</a></li>
        <li class="nav-footer__item"><a href="/blog" class="nav-footer__link">Writing</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--toggle">Toogle Theme</a></li>
      </ul>
    </nav>
  </div>
</footer>