<header class="header">
  <div class="container header__container">
    <a href="/" class="logo">MSK</a>
    <nav class="nav">
      <button class="nav__toggle" aria-expanded="false" type="button">
        menu
      </button>
      <ul class="nav__list">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/blog" class="nav__link">Writing</a></li>
        <li class="nav__item"><a href="/snippets" class="nav__link">Snippets</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--toggle">Toogle Theme</a></li>        
      </ul>
    </nav>
  </div>
</header>