---
permalink: /tags/
layout: /layouts/base.njk
title: All Tags
---
<main class="tags">
  <header class="intro">
    <div class="container">
      <h1 class="post__title">{{ title }}</h1>
    </div>
  </header>

  <div class="container">
    {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/ {% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </div>
</main>