.btn{
  color: rgba(var(--color-title));
  background-color: rgba(var(--color-main));
  border: 2px solid rgba(var(--color-main));
  font-size: 0.9rem;  
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  padding: 1em 2em;
  transition: all 280ms ease-in-out;

  &:hover{
    color: rgba(var(--color-main));
    background-color: rgba(var(--color-secondary));   
  }
}

.btn--outline {
  color: rgba(var(--color-main));
  background-color: rgba(var(--color-secondary)0);
  border: 2px solid rgba(var(--color-main));
  font-size: var(--font-size-small);  
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  padding: 1em 2em;
  transition: all 280ms ease-in-out;

  &:hover{
    color: rgba(var(--color-secondary));
    border: 2px solid rgba(var(--color-text));   
    background-color: rgba(var(--color-text)); 
  }
}


button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  color: rgba(var(--color-text)); 
  background-color: rgba(var(--color-white));
  font-family: var(--font-family-alt);
  font-weight: var(--font-weight-bold);
  text-decoration: none;  
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover
 {
  background: rgba(var(--color-text));
  color: #ffffff;
}

button:active {
  transform: scale(0.95);
}
