.post-tag {
  color: rgba(var(--color-title));
  background-color: rgba(var(--color-secondary));
  border: 2px solid rgba(var(--color-secondary));
  font-size: 0.75rem;  
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  padding: .3em .6em;
  transition: all 280ms ease-in-out;

  &:hover{
    color: rgba(var(--color-main));
    background-color: rgba(var(--color-secondary)0);
    border: 2px solid rgba(var(--color-main));
  }
}