---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - featured
    - tagList
  addAllPagesToCollections: true
layout: /layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="container">
<h1>Tagged “{{ tag }}”</h1>
</div>
{% set postlist = collections[ tag ] %}
{% include "partials/components/postlist.njk" %}
<div class="container">
<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</div>